
@model TmsWebApp.Models.EmailTemplateModel

<div>
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />Dear
    <br />
    <br />
    This is to informed that certificate is created now.
    <br />
    Administrator
    <br />
  
    <br />
    Injaz Tranning Management System
    <br />
    <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>

</div>
