
@model TmsWebApp.Models.EmailTemplateModel

<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <br /> نص الرسالة : عزيزي /عزيزتي <b> @Model.VolunteerName</b>
    <br />
    <br />
    نود إبلاغكم بإنه تم إنشاء لقاء تدريبي نأمل الدخول على بوابة انجاز للموافقة على اللقاء
    <br />
    نشكر لكم رغبتكم في التطوع مع إنجاز السعودية ومشاركتنا رسالة تمكين الشباب السعودي من مستقبل أقتصادي أفضل .
    <br />
    <br />
    إنجاز السعودية
    <br />
    <a href="@Model.RedirectUrl">@Model.RedirectUrl</a>

</div>
