
@model TmsWebApp.Models.EmailTemplateModel
@{
    string appUrl = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div>
    <h2 style='text-align:center'> @Model.Title</h2>
    <br />Dear
    <br />
    New volunteer request assign to you. Please approve  it.
 <br />
    Regards
    <br />
    Administrator 
    <br />
    Injaz Tranning Management System
    <br />
    <a href="@appUrl">@appUrl</a>
</div>