
@model TmsWebApp.Models.EmailTemplateModel
@{
    string appUrl = System.Web.HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div lang="ar" dir="rtl">
    <h2 style='text-align:center'> @Model.Title</h2>
    <h2 style='text-align:center'> تسجيل المتطوع</h2>
    <br /> نص الرسالة : عزيزي /عزيزتي <b> @Model.VolunteerName</b>
    <br />
    <br />
    لقد تم تسجيلكم بنجاح في بوابة إنجاز السعودية . وسيتم التواصل معكم قريبا
    <br />
    شكر لتطوعكم معنا في تمكين الشباب السعودي من مستقبل أقتصادي أفضل
    <br />
    <br />
    إنجاز السعودية
    <br />
    <a href="@appUrl">@appUrl</a>
</div>